@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0e1313;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-item:active {
  background-color: #6d2ae2;
  color: #0e1313;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f2eafe;
  color: #6d2ae2;
}